.score {
    text-align: center;
    font-size: 1.5em;
}

.timer {
    text-align: center;
    font-size: 3em;
}

button.timer {
    width: 3em;
}

.top-15-px {
    margin-top: 15px;
}

.current {
    font-weight: 900;
}