<th:block th:fragment="common_header">
    <link rel="shortcut icon" th:href="@{favicon.ico}" type="image/x-icon">
    <link rel="icon" th:href="@{favicon.ico}" type="image/x-icon">

    <base href="/">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{css/bootstrap.css}" type="text/css">
    <link rel="stylesheet" th:href="@{css/bootstrap-icon.css}" type="text/css">
    <link rel="stylesheet" th:href="@{css/bootstrap-grid.css}" type="text/css">
    <link rel="stylesheet" th:href="@{css/bootstrap-reboot.css}" type="text/css">
    <link rel="stylesheet" th:href="@{css/helper.css}" type="text/css">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script th:src="@{js/jquery-3.4.1.min.js}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</th:block>