<!DOCTYPE html>
<html lang="en">
<head>
    <title>Scoreboard</title>
    <th:block th:replace="common_header"></th:block>
    <script th:src="@{js/game.js}"></script>
</head>
<body>
    <section>
        <div class="container" style="margin-top:15px" id="game" th:data-id="${game.id}">
            <div class="row">
                <div th:if="${#lists.size(game.teams) == 2}" class="col-md-2"></div>
                <th:block th:each="team, iter: ${game.teams}">
                    <th:block th:replace="team_fragment :: team_fragment(team=${team}, count=${#lists.size(game.teams)})"></th:block>
                </th:block>
                <div th:if="${#lists.size(game.teams) == 2}" class="col-md-2"></div>
            </div>
            <div class="row">
                <div th:if="${#lists.size(game.teams) == 2}" class="col-md-2"></div>
                <th:block th:each="team, iter: ${game.teams}">
                    <th:block th:replace="score_fragment :: score_fragment(team=${team}, count=${#lists.size(game.teams)})"></th:block>
                </th:block>
                <div th:if="${#lists.size(game.teams) == 2}" class="col-md-2"></div>
            </div>

            <th:block th:replace="timer_fragment :: timer_fragment"></th:block>

            <th:block th:replace="rules_fragment :: rules_fragment"></th:block>
        </div>
    </section>
</body>
</html>