<!DOCTYPE html>
<html lang="en">
<head>
    <title>Scoreboard</title>
    <th:block th:replace="common_header"></th:block>
    <script th:if="${admin} == true" th:src="@{js/words.js}"></script>
    <script th:src="@{js/game.js}"></script>
    <script th:if="${admin} == true" th:src="@{js/game_admin.js}"></script>
</head>
<body>
    <section>
        <div class="container" style="margin-top:15px" id="game" th:data-id="${game.id}">
            <div class="row">
                <div th:if="${#lists.size(game.teams) == 2}" class="col-md-2"></div>
                <th:block th:each="team, iter: ${game.teams}">
                    <th:block th:replace="team_fragment :: team_fragment(team=${team}, count=${#lists.size(game.teams)}, admin=${admin})"></th:block>
                </th:block>
                <div th:if="${#lists.size(game.teams) == 2}" class="col-md-2"></div>
            </div>
            <div class="row">
                <div th:if="${#lists.size(game.teams) == 2}" class="col-md-2"></div>
                <th:block th:each="team, iter: ${game.teams}">
                    <th:block th:replace="score_fragment :: score_fragment(team=${team}, count=${#lists.size(game.teams)}, admin=${admin})"></th:block>
                </th:block>
                <div th:if="${#lists.size(game.teams) == 2}" class="col-md-2"></div>
            </div>

            <th:block th:replace="timer_fragment :: timer_fragment"></th:block>

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="card text-center word-card" id="words" th:data-id="${game.id}" hidden>
                        <ul class="list-group list-group-flush" id="words-container"></ul>
                        <button th:if="${admin} == true" type="button" class="btn btn-primary btn-lg btn-block btn-submit" id="submit-btn">Submit</button>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>

        <li class="list-group-item" hidden id="template">
            <div class="form-check">
                <input type="checkbox" class="form-check-input">
                <label class="form-check-label"></label>
            </div>
        </li>
    </section>
</body>
</html>