<!DOCTYPE html>
<html lang="en">
<head>
    <title>Scoreboard</title>
    <th:block th:replace="common_header"></th:block>
    <script th:src="@{js/game.js}"></script>
</head>
<body>
    <section>
        <div class="container" style="margin-top:15px" id="game" th:data-id="${game.id}">
            <th:block th:if="${count == 2}">
                <th:block th:replace="team_fragment :: two_teams_fragment(game=${game})"></th:block>
                <th:block th:replace="score_fragment :: two_teams_score_fragment(game=${game})"></th:block>
            </th:block>
            <th:block th:if="${count == 3}">
                <th:block th:replace="team_fragment :: three_teams_fragment(game=${game})"></th:block>
                <th:block th:replace="score_fragment :: three_teams_score_fragment(game=${game})"></th:block>
            </th:block>
            <th:block th:if="${count == 4}">
                <th:block th:replace="team_fragment :: four_teams_fragment(game=${game})"></th:block>
                <th:block th:replace="score_fragment :: four_teams_score_fragment(game=${game})"></th:block>
            </th:block>

            <th:block th:replace="timer_fragment :: timer_fragment"></th:block>
            <!--
            <div class="row">
                <small>Icons made by <a href="https://www.flaticon.com/authors/smalllikeart" title="smalllikeart">smalllikeart</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></small>
            </div>
            -->
        </div>
    </section>
</body>
</html>