<!DOCTYPE html>
<html lang="en">
<head>
    <title>Scoreboard</title>
    <th:block th:replace="common_header"></th:block>
    <script th:src="@{js/lobby.js}"></script>
    <script th:if="${admin} == true" th:src="@{js/lobby_admin.js}"></script>
</head>
<body>
    <section>
        <div class="container" style="margin-top:15px">
            <div class="row" id="game" th:data-id="${game.id}">
                <th:block th:each="team, iter : ${game.teams}">
                    <div class="col-md-3">
                        <div class="card text-center team-card" th:id="'team-' + ${team.id}" th:data-id="${team.id}">
                            <div class="form-group">
                                <input th:if="${admin} == true" type="text" class="form-control" th:id="'team-name-' + ${team.id}" placeholder="Team 1" value="Team 1">
                                <input th:if="${admin} == false" type="text" class="form-control" th:id="'team-name-' + ${team.id}" placeholder="Team 1" value="Team 1" disabled>
                            </div>
                            <ul class="list-group list-group-flush"></ul>
                            <button th:if="${admin} == false" type="button" class="btn btn-primary btn-lg btn-block btn-join" th:data-id="${team.id}">Join</button>
                        </div>
                    </div>
                </th:block>
            </div>
            <div th:if="${admin} == true" class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary btn-lg btn-block" id="btn-start">Start</button>
                </div>
            </div>
            <div th:if="${admin} == true" class="row">
                <div class="col-md-12">
                    <a th:href="@{'game/' + ${game.id} + '/new'}" th:text="@{'game/' + ${game.id} + '/new'}"></a>
                </div>
            </div>
        </div>
    </section>

    <li class="list-group-item" hidden id="template"></li>
</body>
</html>