<th:block th:fragment="team_fragment">
    <div th:classappend="${count == 4} ? 'col-md-3' : 'col-md-4'">
        <div class="card text-center team-card" th:id="'team-' + ${team.id}" th:data-id="${team.id}">
            <h5 th:text="${team.name}" th:id="'team-name-' + ${team.id}"
                th:class="${team.isCurrent()} ? 'card-header current' : 'card-header'"></h5>
            <ul class="list-group list-group-flush">
                <li th:each="player, iter : ${team.players}" th:text="${player.name}" th:id="'player-' + ${player.id}" th:data-id="${player.id}"
                    th:class="${player.isCurrent()} ? 'list-group-item current' : 'list-group-item'"></li>
            </ul>
        </div>
    </div>
</th:block>

<th:block th:fragment="new_fragment">
    <div class="col-md-3">
        <form>
            <div class="form-group">
                <label th:for="'input-team-' + ${team}">Team name</label>
                <input type="text" class="form-control" th:id="'input-team-' + ${team}" th:placeholder="'Team ' + ${team}">
            </div>
        </form>
    </div>
</th:block>