<th:block th:fragment="timer_fragment">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="input-group mb-3 top-15-px">
                <div class="input-group-prepend">
                    <button class="btn btn-warning btn-start" type="button" id="btn-start">GO</button>
                </div>
                <input type="text" class="form-control form-control-lg score" placeholder="" disabled value="00:00:00" id="timer">
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</th:block>
